{% extends 'base.html.twig' %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('src/styles/starability.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <img src="" alt="" class="image"/>
        <h2 class="title">{{ book.title }}</h2>
        <p class="author">{{ book.author }}</p>
        <p class="pub-date">{{ book.releaseDate }}</p>
        <p class="resume">{{ book.summary }}</p>
        <p class="condition">
            Book Condition
            <strong>{{ book.bookCondition }}</strong>
        </p>

        {% set isReserved = false %}
        {% set availabilityDate = null %}
        {% set reservedByYou = false %}
        {% set extended = false %}

        {% for loan in loans %}
            {% if loan.book.id == book.id %}
                {% if loan.returned == false and loan.dueDate > 'now'|date('Y-m-d H:i:s') %}
                    {% set isReserved = true %}
                    {% set availabilityDate = loan.dueDate %}
                    {% if loan.user.id == user.id %}
                        {% set reservedByYou = true %}
                    {% if loan.extension == true %}
                        {% set extended = true %}
                    {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if reservedByYou %}
            <p class="book-available">Vous avez déjà réservé ce livre</p>
            <p>A rendre le : {{ availabilityDate|date('d/m/Y') }}</p>
        {% if extended == false %}
<a href="{{ path('extend_loan', { 'id': loan.id }) }}" class="btn btn-secondary">Prolonger de 7 jours</a>
        {% else %}
            <p class="book-available">Vous avez déjà demandé une extension de réservation</p>
        {% endif %}
        {% elseif isReserved %}
            <p class="book-available">Déjà réservé</p>
            <p>Disponible le : {{ availabilityDate|date('d/m/Y') }}</p>
        {% else %}
            <p class="book-available">Disponible</p>
            <a href="{{ path('reserve_book', { 'id': book.id }) }}" class="btn btn-primary">Réserver</a>
        {% endif %}
    </div>
{% endblock %}
