{% extends 'base.html.twig' %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block body %}
    <div class="container">
        <img src="" alt="" class="image"/>
        <h2 class="title">{{ book.title }}</h2>
        <p class="author">{{ book.author }}</p>
        <p class="pub-date">{{ book.releaseDate }}</p>
        <p class="resume">{{ book.summary }}</p>
        <p class="condition">
            Book Condition
            <strong>{{ book.bookCondition }}</strong>
        </p>

        {% set isReserved = false %}
        {% set loanId = null %}
        {% set availabilityDate = null %}
        {% set reservedByYou = false %}
        {% set extended = false %}

        {% for loan in loans %}
            {% if loan.book.id == book.id and loan.returned == false and loan.dueDate > 'now'|date('Y-m-d H:i:s') %}
                {% set isReserved = true %}
                {% set loanId = loan.id %}
                {% set availabilityDate = loan.dueDate %}
                {% if loan.user.id == userId %}
                    {% set reservedByYou = true %}
                    {% set extended = loan.extension %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if reservedByYou %}
            <p class="book-available">Vous avez déjà réservé ce livre</p>
            <p>A rendre le : {{ availabilityDate|date('d/m/Y') }}</p>

            {% if not extended %}
                <a href="{{ path('extend_loan', { 'id': loanId }) }}" class="btn btn-secondary">Prolonger de 7 jours</a>
            {% else %}
                <p class="book-available">Vous avez déjà demandé une extension de réservation</p>
            {% endif %}
        {% elseif isReserved %}
            <p class="book-available">Déjà réservé</p>
            <p>Disponible le : {{ availabilityDate|date('d/m/Y') }}</p>
        {% else %}
            <p class="book-available">Disponible</p>
            <a href="{{ path('reserve_book', { 'id': book.id }) }}" class="btn btn-primary">Réserver</a>
        {% endif %}

<<<<<<< HEAD
        {{ include('users/_comment_user.html.twig')}}
        {{ include('users/_comment_list.html.twig')}}

=======
        
>>>>>>> 21b73b2d94b045a8c5f07c7939594d0d4109425e
    </div>

{% endblock %}
