{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
<div class="container">
    <img src="" alt="" class="image">
    <h2 class="title"> {{book.title}} </h2>
    <p class="author"> {{book.author}} </p>
    {# <p class="pub-date"> {{book.release_date}} </p> #}
    <p class="resume"> {{book.summary}} </p>
    {# <p class="condition"> {{book.book_condition}} </p> #}
</div>
{% endblock %}
