{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
    <div class="container">
        {% for book in books %}
            <div class="card">
                <img src="" alt="">
                <h2>{{ book.title }}</h2>
                <p>{{ book.author }}</p>
                <p>{{ book.releaseDate }}</p>
                <a href="{{ path('details_books', { 'id': book.id }) }}">Voir détails</a>

                {% set isReserved = false %}
                {% set availabilityDate = null %}

                {% for loan in loans %}
                    {% if loan.book.id == book.id %}
                        {% if loan.returned == false and loan.dueDate > 'now'|date('Y-m-d H:i:s') %}
                            {% set isReserved = true %}
                            {% set availabilityDate = loan.dueDate %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if isReserved %}
                    <p class="book-available">Déjà réservé</p>
                    <p>Disponible le : {{ availabilityDate|date('d/m/Y') }}</p>
                {% else %}
                    <p class="book-available">Disponible</p>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
