{% extends 'base.html.twig' %}

{% block body %}
    <h1>All Reservations</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Salle ID</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.user.id }}</td>
                    <td>{{ reservation.salle.id }}</td>
                    <td>{{ reservation.startTime|date('Y-m-d H:i') }}</td>
                    <td>{{ reservation.endTime|date('Y-m-d H:i') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
