{% extends 'base.html.twig' %}

{% block title %}Books index
{% endblock %}

{% block body %}
	<h1>Books index</h1>
	<a href="{{ path('app_admin_books_index') }}" class="btn btn-primary">Tout les livres</a>
	<a href="{{ path('app_admin_books_index_retard') }}" class="btn btn-primary">Livres en retard</a>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Author</th>
				<th>ISBN</th>
				<th>BookCondition</th>
				<th>Summary</th>
				<th>Reserved</th>
				<th>ReleaseDate</th>
				<th>actions</th>
				<th>Restitution</th>
			</tr>
		</thead>
		<tbody>
			{% for book in books %}
				<tr>
					<td>{{ book.id }}</td>
					<td>{{ book.title }}</td>
					<td>{{ book.Author }}</td>
					<td>{{ book.ISBN }}</td>
					<td>{{ book.bookCondition }}</td>
					<td>{{ book.summary }}</td>
					<td>{{ book.reserved ? 'Yes' : 'No' }}</td>
					<td>{{ book.releaseDate }}</td>
					<td>
						<a href="{{ path('app_admin_books_show', {'id': book.id}) }}">show</a>
						<a href="{{ path('app_admin_books_edit', {'id': book.id}) }}">edit</a>
					</td>
<td>
    <a href="{{ path('app_admin_books_index_restitution', { 'id': book.id }) }}" class="btn btn-primary">Restituer</a>
</td>


					{# {% set isReserved = false %}
											{% set loanId = null %}
											{% set availabilityDate = null %} #}


				{# {% for loan in loans %}
											{% if loan.book.id == book.id and loan.returned == false and loan.dueDate > 'now'|date('Y-m-d H:i:s') %}
												{% set isReserved = true %}
												{% set loanId = loan.id %}
												{% set availabilityDate = loan.dueDate %}
											{% endif %}
										{% endfor %} #}

					{# {% if isReserved %}
										<td>
													{{ availabilityDate|date('d/m/Y') }}
										</td>
					                    {% else %}
										<td>
					                        En bibliothèque
										</td>
											{% endif %} #}

				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_admin_books_new') }}">Create new</a>
{% endblock %}
