{% extends 'base.html.twig' %}

{% block title %}SalleDeTravail{% endblock %}

{% block body %}
    <h1>SalleDeTravail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salle_de_travail.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ salle_de_travail.nom }}</td>
            </tr>
            <tr>
                <th>MaxCapacity</th>
                <td>{{ salle_de_travail.maxCapacity }}</td>
            </tr>
            <tr>
                <th>Wifi</th>
                <td>{{ salle_de_travail.wifi ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Projector</th>
                <td>{{ salle_de_travail.projector ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Tableau</th>
                <td>{{ salle_de_travail.tableau ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>PrisesElectric</th>
                <td>{{ salle_de_travail.prisesElectric }}</td>
            </tr>
            <tr>
                <th>Television</th>
                <td>{{ salle_de_travail.television ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Climatisation</th>
                <td>{{ salle_de_travail.climatisation ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ salle_de_travail.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_salle_index') }}">back to list</a>

    <a href="{{ path('app_admin_salle_edit', {'id': salle_de_travail.id}) }}">edit</a>

    {{ include('admin_salle/_delete_form.html.twig') }}
{% endblock %}
