{% extends 'base.html.twig' %}

{% block title %}{{ salle.nom }} - Details{% endblock %}

{% block stylesheets %} 
{{ parent() }}
<link rel="stylesheet" href="{{ asset('src/styles/app.css') }}"> 

{% endblock %}
{% block body %}
<div class="container">
    <img src="{{ asset('/images/' ~ salle.image) }}" alt="{{ salle.nom }}" class="card-img-top">
    <h1>{{ salle.nom }}</h1>
    <p>Max. {{ salle.maxCapacity }} {{ 'maxcap'|trans }}</p>
    <p>{{ 'plugs'|trans }}: {{ salle.prisesElectric }}</p>
    <p>{{ 'equip'|trans }}:
        {% if salle.wifi == 1 %} Wifi{% endif %}
        {% if salle.projector == 1 %}{{ salle.wifi ? ', ' : '' }}{{ 'equip_projec'|trans }}{% endif %}
        {% if salle.tableau == 1 %}{{ salle.wifi or salle.projector ? ', ' : '' }}{{ 'equip_tab'|trans }}{% endif %}
        {% if salle.television == 1 %}{{ salle.wifi or salle.projector or salle.tableau ? ', ' : '' }}{{ 'equip_tel'|trans }}{% endif %}
        {% if salle.climatisation == 1 %}{{ salle.wifi or salle.projector or salle.tableau or salle.television ? ', ' : '' }}{{ 'equip_clim'|trans }}{% endif %}
    </p><br>

    <h2>Availability</h2> 
    <div id="calendar"></div><br>

    <h2>Reservation</h2>
    {{ form_start(form, {'method': 'POST'}) }}
    {{ form_row(form.startTime) }}
    {{ form_row(form.endTime) }}
    {{ form_end(form) }}
</div><br>

{% endblock %}

