

{# , { 'attr': {'class': 'form-comment-container'} } #}

<div class="form-comment-container">
  {{ form_start(form) }}
  <legend>Rate This Book</legend>
      {{ form_label(form.rating, 'Rate This Book') }}
      {{ form_widget(form.rating) }}

      <div class="comments">
        <label>Leave Your Comment</label>
        {{ form_widget(form.comment) }}
      </div>
      <button type="submit" class="submit btn">Submit</button>
  
  {{ form_end(form) }}
</div>