{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <h1>Admin Panel</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Address</th>
                <th>PostalCode</th>
                <th>Ville</th>
                <th>Telephone</th>
                <th>Birthday</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.postalCode }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.birthday ? user.birthday|date('d-m-Y') : '' }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="back btn" href="{{ path('app_users_show', {'id': user.id}) }}">show</a>
                    <a class="edit btn" href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>
                    <a class="logout btn" href="{{ path('comment_by_user', {'id': user.id}) }}">comment</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="edit btn" href="{{ path('admin_register_user') }}">Create New User</a>
    <a class="logout btn" href="{{ path('comment_list') }}">See All Comments</a>

{% endblock %}
